<div id="post-wrapper">
  <% @posts.each do |p| %>
    <div class="content">
      <div class="post-date">
      <%= p.created_at.strftime("%b %d, %Y") %>
      </div>
      <div class="body">
        Dear asshole <%= p.asshole_name %>, 
        <br/>
        <%= p.content %>
      </div>
      <% if @user_owns_page %>
      <div class="controls">
        <%= link_to "Edit", edit_post_path(p.id) %>
        <%= link_to "Delete", post_path(p.id), :method => :delete, :confirm => "Are you sure you want to delete this letter??" %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>