<!DOCTYPE html>
<html>
<head>
  <title>Dear asshole,</title>
  <%= javascript_include_tag :defaults, "/javascripts/jquery.blockUI.js", "/javascripts/jquery.rating.js" %>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
      <ul class="nav">
        <li>
          <div class="logo">
            <%= link_to posts_path do %>
              <h1>Dear Asshole</h1>
            <% end %>
          </div>
        </li>
        <li>
          <%= link_to "Encountered new asshole today?", new_post_path %>
        </li>
        <%
        if current_user.blank?
        %>
          <li>
          <%= link_to "Log in", "/users/sign_in" %>
          </li>
          <li>
          <%= link_to "Sign up", "/users/sign_up" %>
          </li>
        <%
        else
        %>
          <li>
          <%= link_to "Hey #{current_user.nickname}.", user_path(current_user) %>
          </li>
          <li>
          <%= link_to "Log out", "/users/sign_out" %>
          </li>
        <%
        end
        %>
        <li>
          <h4 style="padding: 9px 0px 0px 25px">So many assholes, so little time...</h4>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <p class="notice flash"><%= flash[:notice] %></p>
  <p class="error flash"><%= flash[:error] %></p>
  
  <div id="main-content">
    <%= yield %>
  </div>
  
  <script type="text/javascript">
    <%
    unless current_user.blank?
    %>
    window.currentUser = {
      id : "<%= current_user.id %>",
      email: "<%= current_user.email %>"
    }
    <% end %>
  </script>
</body>
</html>
